[submodule "3rd/FreeGLUT"]
	path = 3rd/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd/glew-cmake"]
	path = 3rd/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
